[submodule "thirdparty/luau"]
	path = thirdparty/luau
	url = https://github.com/luau-lang/luau
[submodule "thirdparty/lexbor"]
	path = thirdparty/lexbor
	url = https://github.com/lexbor/lexbor
[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/quickjs-ng/quickjs
